name: build

permissions:
  contents: write

# on:
#   workflow_dispatch: {}
on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    name: build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        build: [linux, macos, windows]
        include:
          - build: linux
            os: ubuntu-latest
            rust: nightly
            target: x86_64-unknown-linux-musl
            archive-name: todo-linux
          - build: macos
            os: macos-latest
            rust: nightly
            target: x86_64-apple-darwin
            archive-name: todo-macos
          - build: windows
            os: windows-latest
            rust: nightly-x86_64-msvc
            target: x86_64-pc-windows-msvc
            archive-name: todo-windows
      fail-fast: false

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          profile: minimal
          override: true
          target: ${{ matrix.target }}

      - name: Build binary
        run: cargo build --verbose --release --target ${{ matrix.target }}
        env:
          RUST_BACKTRACE: 1

      - name: Strip binary (linux and macos)
        if: matrix.build == 'linux' || matrix.build == 'macos'
        run: strip "target/${{ matrix.target }}/release/todo"

      - name: Build archive
        shell: bash
        run: |
          mkdir archive
          mkdir ${{ matrix.archive-name }}
          cd ${{ matrix.archive-name }}
          if [ "${{ matrix.build }}" = "windows" ]; then
            cp "../target/${{ matrix.target }}/release/todo.exe" "./"
          else
            cp "../target/${{ matrix.target }}/release/todo" "./${{ matrix.archive-name }}"
          fi

      - name: Upload archive
        uses: actions/upload-artifact@v2
        with:
          path: ${{ matrix.archive-name }}/*

      - name: Show files
        run: |
          ls ${{ github.workspace }}/${{ matrix.archive-name }}

      - name: Download archive
        uses: actions/download-artifact@v2
        with:
          path: archive/

      - name: Show Download files
        run: |
          ls archive/artifact/

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          draft: false
          files: archive/artifact/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
